!!!
html
  head
    title Sobol 
    
    link(rel='stylesheet', href='/css/screen.css')
    link(rel='stylesheet', href='/css/plugin.css')
    link(rel='stylesheet', href='/css/custom.css')

    link(rel='stylesheet', href='/plugins/DataTables-1.8.2/media/css/demo_table.css', title='currentStyle', type='text/css')
    link(rel='stylesheet', href='/plugins/fancybox/jquery.fancybox-1.3.4.css')
    
    - if (title == "Login")
      link(rel='stylesheet', href='/css/login.css')
  body
    #wrapper.clearfix
      #top
        != body