#nav
  ul.mega-container.mega-grey
    li.mega
      a.mega-link(href='/customers') Customers
    li.mega
      a.mega-link(href='/jobs') Jobs List
    li.mega
      a.mega-link(href='../job_management/calendar.php') Jobs Calendar
    li.mega
      a.mega-link(href='/media') Media
    div(style='float: right; padding-right: 10px;')
      li.mega
        a.mega-link(href='/logout') Logout
