#nav
  ul.mega-container.mega-grey
    li.mega
      a.mega-link(href='../customer_management/customer_management.php') Customers
    li.mega
      a.mega-link(href='../job_management/job_list.php') Jobs List
    li.mega
      a.mega-link(href='../job_management/calendar.php') Jobs Calendar
    li.mega
      a.mega-link(href='../media_management/gallery.php') Media
    div(style='float: right; padding-right: 10px;')
      li.mega
        a.mega-link(href='/logout') Logout
