include ../includes/menu.jade
include estimateDetails_content.jade
include ../includes/footer.jade
include estimate_templates.jade

script(type="text/javascript", src="/js/estimateManagement.js")

script
  var estimateManagement;

  $(document).ready(function () {
    estimateManagement = new EstimateManagement({
      "jobId": '#{jobID}',
      "estimateId": '#{estimate._id}',
    });
  });