include menu.jade
include customer_content.jade
include footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addCustomer").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
  });
