!!!
html
  head
<<<<<<< HEAD
    title Sobol
    - if (title == 'Login')
      link(rel='stylesheet', href='/css/login.css')
      link(rel='stylesheet', href='/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')
    - if (title == 'Customer')
      link(rel='stylesheet', href='/css/screen.css')
      link(rel='stylesheet', href='/css/plugin.css')
      link(rel='stylesheet', href='/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')
      
=======
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
>>>>>>> 3ae5c984663a8435609f03b3b4d490fb9dd82a77
  body!= body