include login_content
include footer       
script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#forgotPassword").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
  });
       
