#login
  h1#title
    a(href='') Slate Admin
  #login-body.clearfix
    form#login_form(action='/auth', name='login', method='post')
      .content_front
        .pad
          .field
            label Username:
            div
              span.input
                input#login_email.text(name='username', type='text', value='admin')
          .field
            label Password:
            div
              span.input
                input#login_password.text(name='password', type='password')
                a#forgotPassword(style='', href='#retrievePassword') Forgot password?
          .checkbox
            span.label  
            div
              input#remember.checkbox(name='remember', value='yes', type='checkbox')
              label(style='display: inline;', for='remember') Remember me on this computer
          .field
            span.label  
            div
              button.btn(type='submit') Login
          div(style='display: none;')
            #retrievePassword(style='width: 400px; height: 120px; overflow: auto;')
              form.form.label-inline(action='#', method='post')
                table
                  tr
                    td
                      .field
                        b To recover your password, enter your email address.
                        br
                        label(for='email') Email 
                        input#email.medium(name='email', size='20', type='text', value='')
                        button#actionBtnLogin.btn Submit
