!!!
html
  head
    title Sobol
    - if (title == 'Login')
      link(rel='stylesheet', href='/css/login.css')
      link(rel='stylesheet', href='/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')
    - if (title == 'Customer')
      link(rel='stylesheet', href='/css/screen.css')
      link(rel='stylesheet', href='http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.8.2/css/jquery.dataTables.css')
      link(rel='stylesheet', href='/plugins/jquery.fancybox-1.3.4/fancybox/jquery.fancybox-1.3.4.css')
  body!= body