include menu.jade
include reset_password_content.jade
include footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addCustomer").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#customerTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/customer"
    });
  });
