div(style='display: none;')
  #editImage(style='width: 800px; height: 800px; overflow: auto; text-align: center;')
    form#add-user-form.form.label-top
      .field
        label(for='filename') File Name 
        input#fileName(name='filename', size='30', type='text', value='')
      .field
        label(for='description') Description 
        input#description(name='description', size='30', type='text', value='')
      .field.clearfix
        label(for='file') File Upload 
        input#file.file(name="file", style='opacity: 0;', size='35', type='file')

      div.field
        label(for='tags') Tags 
        div#tagsList.field

      div.field
        select#tagsAvailable
          option(value="default") Select a tag

      div.field
        input#tagName(name='tagName', size='20',
          type='text', value='tag 7')
        button#createTag.btn Add Tag

      input#newTags(name='newTags', type='hidden', value='')
      input#existingTags(name='existingTags', type='hidden', value='')

      div.field
      .buttonrow
        button#createMedia.btn Upload File