#content.xfluid
  .portlet.x12
    .portlet-header
      h4 Job Management
    .portlet-content
      div#breadCrumb.breadCrumb.module
        ul
          li
            a(href="#")
              |Home
          li
            a(href="/customer/#{breadcrumb.cust.id}")
              |#{breadcrumb.cust.name}
          li
            |#{breadcrumb.job.name}
      br
      br
      include jobDetails_job.jade
      include jobDetails_estimates.jade

script(type="text/javascript")
  $(document).ready(function() {
    $('#breadCrumb').jBreadCrumb();
  });