.page
  h2 Register
  h3 has erros?
  - if (err)
    h3 YES
  form.users(method='post', action='/user/create')
    div
      label Username:
      input(name='user[username]', value=user.username || '')

    div
      label Email:
      input(name='user[email]', value=user.email || '')

    div
      label Password:
      input(name='user[password]', type='password')
    div
      input(type='submit', value='Register')
      span \ or 
        a(href='/sessions/new') Log In

