.page
  h2 Register

  form.users(method='post', action='/user/save')
    div
      label Username:
      input(name='user[username]')

    div
      label Email:
      input(name='user[email]')

    div
      label Password:
      input(name='user[password]', type='password')
    div
      input(type='submit', value='Register')
      span \ or 
        a(href='/sessions/new') Log In

