include ../includes/menu.jade
include customers_content.jade
include ../includes/footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addCustomer").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    var dTable = $("#customerTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      //"sAjaxSource": "/datatable/customer/findAll",
      "sAjaxSource": "/datatable/customers?status=Active",
      "aoColumnDefs": [
        { "bVisible" : false, "aTargets" : [0] }
      ],
      "aaSorting": [[6, "desc"], [1, "asc"]]
    });
    $('#addCustForm').submit(function() {
      $('#phone1').val($('#tel1a').val() + '-' + $('#tel1b').val() + '-' + $('#tel1c').val());
      $('#phone2').val($('#tel2a').val() + '-' + $('#tel2b').val() + '-' + $('#tel2c').val());
    });
    $("#customerTable tbody tr").live("click", function() {
      var data = dTable.fnGetData(this);
      var custID = data[0];
      window.location.href = "/customer/" + custID;
    });
    $('#showArchived').click(function() {
        var ajaxSourceURL;
        if($('#showArchived').is(':checked')){
          ajaxSourceURL = "/datatable/customers?status=Archived";
        }else{
          ajaxSourceURL = "/datatable/customers?status=Active";
        }
        var dTable = $("#customerTable").dataTable( {
          "bProcessing": true,
          "bDestroy": true,
          "sAjaxSource": ajaxSourceURL,
          "aoColumnDefs": [
            { "bVisible" : false, "aTargets" : [0] }
          ],
          "aaSorting": [[6, "desc"], [1, "asc"]]
        });
    });
  });