include ../includes/menu.jade
include customers_content.jade
include ../includes/footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addJob").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#jobTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/job/findAll"
    });

    $('#addJobForm').submit(function() {
      alert('Submit initiated');
    });

  });
