br
div(style='display: none;')
  #newNote(style='width: 800px; height: 400px; overflow: auto;')
    h4 Add Note
    form.form.label-inline(id='addNoteForm', action='/customer/note/add/#{customer.id}', method='post')
     table
       tr
         td
           .field
            label(for='noteText') Note Text
            input#noteText.large(name='custnote[noteText]', size='20', type='text', value='')
        tr
          td
            input#saveNote.btn(type='submit', value='Add')
div(style='display: none;')
  #editNote(style='width: 800px; height: 400px; overflow: auto;')
    h4 Edit Note
    form.form.label-inline(id='editNoteForm', action='/customer/#{customer.id}/note/edit/', method='post')
     table
       tr
         td
           .field
            label(for='noteText') Note Text
            input#editNoteText.large(name='custnote[noteText]', size='20', type='text', value='')
            input#editNoteID.large(name='custnote[id]', size='20', type='hidden', value='')
        tr
          td
            input#editNote.btn(type='submit', value='Update')
            a#deleteNote.btn Delete
div(style='display: none;')
  //hidden button for calling the edit note popup
  a#noteDetail.btn(href='#editNote') HiddenEditNote
  //hidden field for passing the note id for the delete note method
  input#NoteID.large(value='')
div#notesList(style='display: none;')
  a#addNote.btn(href='#newNote') Add Note
  a#viewJobs.btn View Jobs
  br
  table#noteTable.display( width = '100%', cellpadding='0', cellspacing='0', border='0', rel='datatable')
    thead
      tr
        th ID
        th Note
        th Last Modified On
  tbody

script(type="text/javascript")
  $(document).ready(function() {
    $("#addNote").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#noteDetail").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    var dTable = $("#noteTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/datatable/customer/getCustomerNotes/#{customer.id}",
      "aoColumnDefs": [
        { "bVisible" : false, "aTargets" : [0] }
      ],
      "aaSorting": [[4, "desc"]]
    });
    $("#noteTable tbody tr").live("click", function() {
      var data = dTable.fnGetData(this);
      var noteID = data[0];
      var noteText = data[1];
      var LastModifiedDate = data[2];
      $('#editNote').blur(function() {     //editNote popup fields will be populated once a blur event occurs
         $('#editNoteText').val(noteText);
         $('#editNoteID').val(noteID);
      });
      $('#NoteID').val(noteID);
      $('#editNote').blur();  //forcing a blur event to occur to populate the editNote fields
      $('#noteDetail').click();
    });
    $('#deleteNote').click(function() {
      var ID = $('#NoteID').val();
      window.location = "/customer/#{customer.id}/note/delete/" + ID; 
    });
    $("#viewJobs").click(function() {
      $("#notesList").toggle();
      $("#jobList").toggle();
    });
  });





