#content.xfluid
  .portlet.x12
    .portlet-header
      h4 Customer Management
    .portlet-content
      div#breadCrumb.breadCrumb.module
        ul
          li.first
            a(href="/customers/")
          li.last
            |#{breadcrumb.cust.name}
      br
      br
      include custDetails_customer.jade
      include custDetails_jobs.jade