include ../includes/menu.jade
include customers_content.jade
include ../includes/footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addCustomer").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#customerTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/datatable/customer/findAll"
    });
    $('#addCustForm').submit(function() {
      alert('Submit initiated');
      $('#phone1').val($('#tel1a').val() + '-' + $('#tel1b').val() + '-' + $('#tel1c').val());
      $('#phone2').val($('#tel2a').val() + '-' + $('#tel2b').val() + '-' + $('#tel2c').val());
    });
    $("#customerTable tbody tr").live("click", function() {
      var nTds = $('td', this);
      var custID = $(nTds[0]).text();
      console.log("Customer ID is --> " + custID);
      window.location = "./customer/" + custID;
    });
  });
