#content.xfluid
  .portlet.x12
    .portlet-header
      h4 Tables
    .portlet-content
      br
      a(name='plugin')
      h2 Customer Management
      a#addCustomer.btn(href='#newCustomer') Add Customer
      div(style='display: none;')
        #newCustomer(style='width: 800px; height: 400px; overflow: auto;')
          form.form.label-inline(action='#', method='post')
            table
              tr
                td
                  .field
                    label(for='lname') First name 
                    input#fname.medium(name='lname', size='20', type='text', value='')
                td
                  .field
                    label(for='lname') Last name 
                    input#lname.medium(name='lname', size='20', type='text', value='')
              tr
                td
                  .field
                    label(for='address1') Address 1 
                    input#address1.large(value='', size='40', type='text')
                td
                  .field
                    label(for='address1') Address 2
                    input#address2.large(value='', size='40', type='text')
              tr
                td
                  .field
                    label(for='country') Country
                    input#country.small(value='', size='20', type='text')
                td
                  .field
                    label(for='province') Province
                    input#province.small(value='', size='20', type='text')
              tr
                td
                  .field
                    label(for='city') City
                    input#city.small(value='', size='20', type='text')
                td
                  .field
                    label(for='postal') Postal Code
                    input#postal.small(value='', size='20', type='text')
              tr
                td
                  .field.phone_field
                    label(for='telephone1') Telephone 1
                    input#telephone1a.xsmall(value='', size='3', type='text')
                    | -
                    input#telephone1b.xsmall(size='3', value='', type='text')
                    | -
                    input#telephone1c.xsmall(size='4', value='', type='text')
                td
                  .field.phone_field
                    label(for='telephone2') Telephone 2
                    input#telephone2a.xsmall(value='', size='3', type='text')
                    | -
                    input#telephone2b.xsmall(size='3', value='', type='text')
                    | -
                    input#telephone2c.xsmall(size='4', value='', type='text')
              tr
                td
                  .field
                    label(for='email') Email 
                    input#email.medium(name='email', value='', size='20', type='text')
                td
                  
              tr
                td
                  button#saveNewCust.btn Save
                td
      br
      br
      input#showArchived(type='checkbox', name='showArchived')
      | Show Archived
      br
      br
      table#customerTable.display(cellpadding='0', cellspacing='0', border='0', rel='datatable')
        thead
          tr
            th Name
            th Email
            th Phone
            th Pending Jobs
            th Status
        tbody
