include ../includes/menu.jade
include customers_content.jade
include ../includes/footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new customer
    */
    $("#addCustomer").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#customerTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "http://localhost:11342/customers/findAll"
    });
  });
