h2 #{custID}
br
a#addJob.btn(href='#newJob') Add Job      
div(style='display: none;')
  #newJob(style='width: 800px; height: 400px; overflow: auto;')
    h4 Add Job
    form.form.label-inline(id='addJobForm', action='/job/add', method='post')
      table
        tr
          td
            .field
              label(for='customid') customid
              input#customid.medium(name='job[customid]', size='20', type='text', value='')
        tr
          td
            .field
              label(for='name') Job Name
              input#name.medium(name='job[name]', size='20', type='text', value='')
        tr
          td
            .field
              label(for='description') Job Description
              input#description.large(name='job[description]', size='20', type='text', value='')
        tr
          td
            .field
              label(for='description') Customer ID
              input#description.large(name='job[customerID]', size='20', type='text', value='#{custID}')        
        tr
          td
              input#saveJob.btn(type='submit', value='Add')
        

table#jobTable.display(cellpadding='0', cellspacing='0', border='0', rel='datatable')
  thead
    tr
      th ID
      th Custom ID
      th Job Name
      th Job Description
      th Created On
      th Status
  tbody

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new job
    */
    $("#addJob").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#jobTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/datatable/job/findAll"
    });

    $('#addJobForm').submit(function() {
      alert('Submit initiated');
    });
  });
