include ../includes/menu.jade
include jobs_content.jade
include ../includes/footer.jade

script(type="text/javascript")
  $(document).ready(function() {
    /*
    *   Add new job
    */
    $("#addJob").fancybox({
      'titlePosition'   : 'inside',
      'transitionIn'    : 'none',
      'transitionOut'   : 'none'
    });
    $("#jobTable").dataTable( {
      "bProcessing": true,
      "bDestroy": true,
      "sAjaxSource": "/customer/findAll"
    });

        $('#addJobForm').submit(function() {
      alert('Submit initiated');
    });
  });
