include ../../includes/menu.jade
include customers_content.jade
include ../../includes/footer.jade

script(type="text/javascript", src="/js/customerManagement.js")

script(type="text/javascript")
  $(document).ready(function() {
    var custManagement = new CustomerManagement();
  });